body {
    font-size: 25px;
    font-family: "Arial";
    color: white;
    background-image:url(movimento.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

header {
    background-color: #4F3838;
    color: white;
    text-align: center;
    font-size: 25;
    font-family: "Arial";
    padding: 4px;
}
button {
    background-color: #ffffff;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    align-self: center;
    cursor: pointer;
    border: black;
    border-radius: 4px;
    padding: 13px 12px;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-left: 50% ;
}



footer {
    background-color: #4F3838;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 30px;
    position: fixed;
    box-align: center;
}
